

    <ul style="display:inline" class=" navbar-right ">
        <li style="color:white">
           Pozdrav @Session["username"].ToString() 
        </li>
        <li>
          <a href="@Url.Action("Logout", "Login")"> Logout</a>
        </li>
       
    </ul>
    


